

.hero{
    min-height: calc(100vh - 70px);
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('/static/imgs/otra.jpg');
    background-size:cover;
    background-position: center;
    position:relative
}

 
.search-bar{
    width: 100%;
    border-radius:2px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 45px;
    padding: 5px;
    margin:auto;
}

.search-button{
    margin-left: 10px;
    border-radius: 2px;
    width: 40px;
    background-color: var(--prussian-blue);
    height: 100%;
    border:2px solid var(--prussian-blue);
}

.search-button:hover {
    background-color:white;
    height: 100%;
    border: 2px solid var(--prussian-blue);
}

.search-button:hover i {
    color: var(--prussian-blue);
   
}

.search-bar input[type=text]{
    background-color: transparent;
    outline: none;
    border:none;
    width: 80%;
    margin-left:10px
}
 
.buttons{
    display:flex;
    align-items:center;
    gap:5px;
    height: 100%;
}

.main-title{
    width: 300px;
    font-size:40px;
    color:var(--vanilla);
    margin:auto;
    /* text-shadow: 2px 2px 2px black; */
    margin-bottom:20px;
    text-align: center;
    
}

.main-hero{
    position:absolute;
    max-width: 700px;
    width:90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
        
}


/* BEST */


  
.foto-container{
    width: 90%;
    margin:auto;
    text-align:center;
}

.foto-container h2{
    margin-top: 60px;
    margin-bottom:40px;
}

.property-types{
    display:flex;
    justify-content: center;
    margin:auto;
    margin-bottom:40px;
    gap:1em;
}

.property-types 

.bold {
    font-weight: bold;
    color:var(--light-blue)
}


@media screen and (max-width:440px){
    .property-types {
        flex-wrap:wrap;
        flex-basis:150px;
    }
}



@media screen and (max-width:599px){
    .grid-best {
            display: flex;
            flex-direction: column;
            gap: 10px
        }
    
        .big,
        .small-1,
        .small-2,
        .small-3,
        .small-4 {
            width: 100%;
            height: 300px;
            margin: auto;
        }
    
        img {
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
}

@media screen and (min-width:600px) and (max-width:977px) {
    .grid-best {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px 250px 250px 250px;
        grid-template-areas:'big big' 
                            'big big' 
                            'small1 small2'
                            'small3 small4';
        grid-gap:10px;
    }
    .big {
        grid-area: big;
    }

    .buttons{
        gap: 10px;
    }

    .grid-best img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
        .small-1 {
            grid-area: small1;
        }
    
        .small-2 {
            grid-area: small2;
        }
    
        .small-3 {
            grid-area: small3;
        }
    
        .small-4 {
            grid-area: small4;
        }

}







@media screen and (min-width:978px){
.grid-best{
    display:grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 250px;
    grid-template-areas: 'big big small1 small2'
                        'big big small3 small4' ;
    margin:auto;
    grid-gap:10px;
    margin-bottom:10px;
}

.buttons{
        gap: 10px;
    }

.big{
    grid-area:big;
}

.grid-best img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.small-1{
    grid-area: small1;
}

.small-2 {
    grid-area: small2;
}

.small-3 {
    grid-area: small3;
}

.small-4 {
    grid-area: small4;
} 

}











/* AUTOCOMPLETE INPUT */

.autocomplete-container {
    /*the container must be positioned relative:*/
    position: relative;
    width: 70%;
}

.autocomplete-container input {
    width: 100%;
    outline: none;

    padding: 10px;
    padding-right: 31px;
    font-size: 16px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: calc(100% + 2px);
    left: 0;
    right: 0;

    background-color: #fff;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;

    position: absolute;
    right: 5px;
    top: 0;

    height: 100%;
    display: none;
    align-items: center;
}

.clear-button.visible {
    display: flex;
}

.clear-button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.autocomplete-container {
    /*the container must be positioned relative:*/
    position: relative;
}

.autocomplete-container input {
    width: calc(100% - 43px);
    outline: none;
    height: 30px;

    padding: 10px;
    padding-right: 31px;
    font-size: 16px;
}


.hidden {
    display: none;
}

.property-types li{
    cursor:pointer;
}